*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:poppins,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
min-height:50%;
background:whitesmoke;
margin-top: 25%;
border-color: red;
}
.wrapper{
    width: 300px;
    height: 200px;
    background:pink;
}
h2{
    margin-left: 100px;
}
